@*
    Partial: Sección de formulario con título e icono
    Uso: <partial name="_FormSection" model='new FormSectionModel { Title = "...", Icon = "..." }' />

    Agrupa campos de formulario bajo un título visual consistente
*@
@model TheBuryProject.ViewModels.Shared.FormSectionModel

<div class="col-12 @(Model.MarginTop ? "mt-4" : "")">
    <h5 class="border-bottom border-secondary pb-2 mb-3 @Model.TitleColorClass">
        @if (!string.IsNullOrEmpty(Model.Icon))
        {
            <i class="bi bi-@Model.Icon me-2" aria-hidden="true"></i>
        }
        @Model.Title
    </h5>
</div>
